#container{
    display: flex;

}
.product-box {
    display: flex;
    color: #d26b6b;
}
th {
    background-color: #5c07ef;
}
td {
    border: 1px solid #5c07ef;
    overflow: hidden;
}

#price-filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #5c07ef;
    height: 125px;
    width: 300px;
}

table{
    margin: 0 2px 0  2px;
}