
.product-box {
    display: flex;
    color: #d26b6b;
}
th {
    background-color: #5c07ef;
}
td {
    border: 1px solid #5c07ef;
    overflow: hidden;
}

#price-filter{
    border: 1px solid #5c07ef;
}